.navbar {
    position: absolute;
    left: 0px;
    width: 220px;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    opacity: 0.8;
    float: left;

}
  /* icon and logo */
.navbar-top {
    display: flex;
    align-items: center;
    line-height: 10px;
    padding: 8px;
}
.navbar-logo {
   
    margin-left: 5px;
}
.navbar-icon {
    margin-left: 27px;
    color: #e5e5e5;
    cursor: pointer;
}
.logo-img {
    width: 130px;
    height: 60px;
    cursor: pointer;
}

/* navbar menu */
.navbar-menu {
    width: 100%;
    padding-top: 25px;
}
.navbar-item {
    width: 100%;
    align-items: center;
    display: flex;
    padding-left: 20px;
    height: 40px;
    cursor: pointer;
    line-height: 20px;
    color: #e5e5e5;
   box-sizing: border-box;
 
}
 /* .navbar-item:hover {
     transition: ease-in-out;
    background-color: #e5e5e5;
    color: black;
 } */
.navbar-icons {
    /* user-select: none; */
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    padding-right: 20px;
    color: #e5e5e5;
}
.navbar-texts {
   
    font-family:'Lucida Sans Regular',;
    font-weight: bold;
    color: #e5e5e5;
}

